<h3>Listado de usuarios</h3>
 
<div>
    <table class="table">
        <thead>
            <tr>              
              <th scope="col">Carnet</th>
              <th scope="col">Nombre</th>              
            </tr>
          </thead>        
        <%  if (users) 
        { %>
            <tbody>
            <%  for(var i=0; i < users.length; i++) 
            {    
                var user = users[i]; %>

                <tr>
                    <th scope="row"><%= user.id %></th>
                    <td><%= user.name %></td>
                </tr>
        <%  }%>
            </tbody>
        <%
        } 
        else 
        { %>
            <div>No hay usuarios.</div>
    <%  } %>
    </table>

        <div><a href='/newUsers'>Crear usuarios</a></div>
</div>

